<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>7487B9E8-324C-4D79-B6C0-ED7DB0ECE0DE</string>
				<key>BrowserTitle</key>
				<string>Eerste keer massage afspraak</string>
				<key>CreatedDate</key>
				<date>2021-01-05T18:02:12Z</date>
				<key>CustomThemeName</key>
				<string>Tabs</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>1e Keer</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>ftp://ftp.naavawellness.nl</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-03-09T19:45:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-9863160.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qwFwNjGu0E/N
								NCJLLTmPOA==
								</data>
								<key>Size</key>
								<integer>15674</integer>
							</dict>
							<key>files/stacks-image-bedf03b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								x+mxnKb+ip94
								AiunD/Ts5Q==
								</data>
								<key>Size</key>
								<integer>28991</integer>
							</dict>
							<key>files/stacks_page_page2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								T03HxAg2NNwI
								AS8c3kJFbw==
								</data>
								<key>Size</key>
								<integer>2517</integer>
							</dict>
							<key>files/stacks_page_page2.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								sRxm8xNGGDyt
								Z7ilBEHggg==
								</data>
								<key>Size</key>
								<integer>12635</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>firsttime</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
