<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Naava Wellness biedt oliemassage</string>
				<key>CreatedDate</key>
				<date>2021-02-24T22:11:18Z</date>
				<key>ID</key>
				<string>page8</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Olie massage</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>ftp://ftp.naavawellness.nl</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-05-09T12:26:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/ionicons/ionicons.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								pViseLVU7voY
								Fzd0k2apHA==
								</data>
								<key>Size</key>
								<integer>112650</integer>
							</dict>
							<key>files/ionicons/ionicons.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								1lkgkTj8fCjC
								OkhJa90ciw==
								</data>
								<key>Size</key>
								<integer>312749</integer>
							</dict>
							<key>files/ionicons/ionicons.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								70qfKAsOQR3f
								bJMKCjfCsA==
								</data>
								<key>Size</key>
								<integer>112472</integer>
							</dict>
							<key>files/ionicons/ionicons.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								mbhjSXFW1EeO
								w0if77OBXA==
								</data>
								<key>Size</key>
								<integer>65908</integer>
							</dict>
							<key>files/ionicons/ionicons.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								lvHJAcCH+2QB
								n3Zl9/ispg==
								</data>
								<key>Size</key>
								<integer>50556</integer>
							</dict>
							<key>files/stacks-image-84ede43.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								x+mxnKb+ip94
								AiunD/Ts5Q==
								</data>
								<key>Size</key>
								<integer>28991</integer>
							</dict>
							<key>files/stacks_page_page8.css</key>
							<dict>
								<key>Digest</key>
								<data>
								E/5miuIBq8Zs
								LFY32X2AIA==
								</data>
								<key>Size</key>
								<integer>75766</integer>
							</dict>
							<key>files/stacks_page_page8.js</key>
							<dict>
								<key>Digest</key>
								<data>
								FqlCU8rQgn2e
								LdqiTdU/Cw==
								</data>
								<key>Size</key>
								<integer>7908</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								m+P391JeUjYU
								k54Nbxo54A==
								</data>
								<key>Size</key>
								<integer>8785</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page8</string>
						<key>SiteRoot</key>
						<string>oilmassage</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
