<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Wat is traditionele Thaise  massage</string>
				<key>CreatedDate</key>
				<date>2021-02-24T22:13:43Z</date>
				<key>ID</key>
				<string>page9</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Thaise massage</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>ftp://ftp.naavawellness.nl</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-03-17T23:15:05Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-f53fd91.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								f/Qvr8Uoav8S
								KNYFTpuXHg==
								</data>
								<key>Size</key>
								<integer>47918</integer>
							</dict>
							<key>files/stacks_page_page9.css</key>
							<dict>
								<key>Digest</key>
								<data>
								6oobTYlvwJBT
								7gS6ce8A0Q==
								</data>
								<key>Size</key>
								<integer>608</integer>
							</dict>
							<key>files/stacks_page_page9.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								33QeXVgm3osU
								cRmgKf/9lg==
								</data>
								<key>Size</key>
								<integer>8329</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page9</string>
						<key>SiteRoot</key>
						<string>thaimassage</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
